<!DOCTYPE html>
<html>
  <head>
    <title>TT3 API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tap Transcend 3 API</h1>
    <p>Welcome to the Tap Transcend 3 API</p>
  </body>
</html>
